.container{
    width: 100%;
    min-height: 100vh;
    background-color: #141414;
    color: white !important;;
    .content{
        width: 90%;
        margin: auto;
        padding-top: 24px;
    }
}